.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
  }
  
  input[type="text"] {
    width: 100%;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box; /* add box-sizing */
  }
  
  .signup-button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-color: black;
    border: 1px solid black; /* add border */;
    border-radius: 10px;
    cursor: pointer;
    height: 75px;
    margin-top: 20px;
    width: 300px;
  }
  
  .signup-button:hover {
    background-color: black;
    color: white;
  }

  .already-have-account{
    margin-top: 20px;
  }
  
  